body {
  /* background-color: aqua; */
  background-image: url("../assets/images/hill-clipart-green-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
canvas {

  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../assets/images/background1.jpg");
  margin: auto;
  background-color: #f3f3f3;
  border: #0ecc86 10px solid;
  border-radius: 4%;
}